# Introduction to Big Data Modern Technologies course

## TOPIC 1: Relational databases practice
### More questions

### 1. Libraries

Use [pandasql](https://pypi.org/project/pandasql/) for SQL over the Pandas dataframe.

In [ ]:
!pip install pandas
!pip install pandasql

In [ ]:
import os
import sys
import datetime
import pandas as pd
import pandasql as pdsql

pd.set_option('display.max_columns', None)

### 2. Raw data

In [ ]:
!ls -la ~/__DATA/IBDT_Spring_2023/topic_1/

In [ ]:
df = pd.read_csv('~/__DATA/IBDT_Spring_2023/topic_1/jhub_logs_large.csv', sep=';', index_col=False)
df.info()

In [ ]:
df.head()

In [ ]:
df.describe().T

### 3. SQL over Pandas dataframe

#### 3.1. About Python global and local

They are built-in functions:
- `globals()` return the dictionary implementing the current module namespace, [see here](https://docs.python.org/3/library/functions.html#globals)
- `locals()` updates and returns a dictionary representing the current local symbol table. Note that at the module level, `locals()` and `globals()` are the same dictionary, [see here](https://docs.python.org/3/library/functions.html#locals)

In [ ]:
globals()

In [ ]:
locals()

In [ ]:
print(globals().keys())

In [ ]:
globals()['df']

#### 3.2. SQL and dataframe

In [ ]:
pysqldf = lambda q: pdsql.sqldf(q, globals())

In [ ]:
query = 'SELECT * FROM df LIMIT 5'
pysqldf(query)

In [ ]:
query = 'SELECT time, log FROM df LIMIT 5'
result = pysqldf(query)
type(result)

In [ ]:
result

In [ ]:
query = 'SELECT time, log, stream FROM df WHERE stream == "stdout" LIMIT 5'
result = pysqldf(query)
result

In [ ]:
query = 'SELECT time, kubernetes, log, stream FROM df WHERE stream == "stdout" LIMIT 5'
result = pdsql.sqldf(query, globals())
result

### 4. Recommendation: use native tools

Since many potential pandas users have some familiarity with SQL, [this page](https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html) is meant to provide some examples of how various SQL operations would be performed using pandas.

#### SELECT

In [ ]:
# SELECT time, log FROM df LIMIT 5

df[['time', 'log']].head(5)

#### WHERE

In [ ]:
# SELECT time, log, stream FROM df WHERE stream == "stdout" LIMIT 5

df[df.stream == 'stdout'][['time', 'log']].head(5)

#### GROUPBY

In [ ]:
df.groupby('stream').size()